.table_container {
   padding: 20px;
}

.add_book_cnt, #editAuthorContainer {
   padding: 10px;
}

.add_book_cnt .chosen-container-single .chosen-single {
   position: static;
}

.add_book_cnt input, 
.add_book_cnt select, 
.add_book_cnt button, 
.add_book_cnt .chosen-container {
   margin: 10px;
}

.add_book_cnt #authorsSelect_chosen {
   width: 200px !important;
}

.fa-trash {
   margin-right: 15px;
   font-size: 20px;
}